[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

dj-database-url = "*"
django = "*"
gunicorn = "*"
psycopg2 = "*"
django-static-jquery = "*"
pandas = "*"
sklearn = "*"
scipy = "*"
lime = "*"
plotly = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.6"
