/* INDEX.HTML */
.index-text{
	width: 300px;
	text-align: right;
	margin-top: 15%;
	margin-left: 25%;
	margin-right: 20px;
	float: left;

}
.index-text h1{
	color: #704e96;
	font-family: 'Quicksand', sans-serif;
	font-size: 35px;
}

.index-text a{
	color: #7b7b7b;
	font-family: 'Varela Round', sans-serif;
	font-size: 20px;

}

.index-text button {
	-webkit-border-radius: 11;
	-moz-border-radius: 11;
	border-radius: 8px;
	color: #ffffff;
	background: #704e96;
	padding: 10px 100px 10px 100px;
	text-decoration: none;
	border: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin-top: 25px;
}

.index-text button:hover {
	background: #8a68b1;
	text-decoration: none;
	cursor: pointer;
}

.index-img{
	margin-right:10px;
	margin-top: 17%;
	float:left;
}

.index-img img{
	height: 271px;
}

.index-form{
	display:none;
	margin-top: 15%;
	text-align: center;

}

.index-form a{
	color: #7b7b7b;
	font-family: 'Varela Round', sans-serif;
	font-size: 18px;

}

.index-form img{
	width: 100px;
	height: 100px;
}
.index-form #form-text2:hover{
	color: #704e96;

}
.index-form #form-text{
	color: #704e96;
	font-family: 'Quicksand', sans-serif;
	font-size: 22px;
	font-weight: bold;

}

.inputfile {
	
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	

}
.inputfile + label {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
	font-size: 14px;
    border-radius: 8px;
	color: #ffffff;
	background: #704e96;
	padding: 10px 50px 10px 50px;
	text-decoration: none;
	border: none;
    display: inline-block;
    cursor: pointer;
    width: 135px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #8a68b1;
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.material-icons {
	float: left;
	margin-left: 10px;
    margin-right: -17px;
}

#choose{
	margin-top: 3px;
}

#loading{
	width: 32px;
	height: 32px;
}

/* RESULTS.HTML */

.result-text{
	margin-top: 5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.result-text h1{
	color: #704e96;
	font-family: 'Quicksand', sans-serif;
	font-size: 35px;
}

.result-text a{
	color: #7b7b7b;
	font-family: 'Varela Round', sans-serif;
	font-size: 18px;

}

#analysisout{
	cursor: pointer;
	text-decoration: underline;
}

#analysisout:hover{
		color: #704e96;
}

#miniinfo{
	font-size: 12px;
	display: none;
	color: #565656;
}
.content{
	display: flex;
  justify-content: center;
  align-items: center;


}

#samples{
	max-height: 300px;
    overflow: auto;
 white-space: nowrap;
}
#col{
    background-color: #e5ddee;
	text-align: center;
	display:inline-block;
	font-family: 'Varela Round', sans-serif;
	font-size: 12px;
	color: #565656;


}

#label{
	font-family: 'Varela Round', sans-serif;
	font-size: 13.5px;
	color: #704e96;
	font-weight: bold;


}
#tohide{
	display: none;
}

/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 10px; /* 1px wider than Lion. */
  height: 9px;
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0.05);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
 
/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars. 
     Yes, I pulled out digital color meter */
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px; /*Prevent it from getting too small */
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}
/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:horizontal {
  /* This is the EXACT color of Mac OS scrollbars. 
     Yes, I pulled out digital color meter */
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);

}
::-webkit-scrollbar-thumb:horizontal:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}


