{% load static %}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="{% static 'ml/app.js' %}"></script>   
<link rel="stylesheet" type="text/css" href="{% static 'ml/style.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<form action="{% url 'ml:train'%}" method="post" enctype="multipart/form-data">{% csrf_token %}
	<div class="train-form">	
		<a id="form-text">Training finished</a><br/><br/>
		<a>The system training had an accuracy of: <b>{{accuracy}}%</b> using the algorithm: <b>{{name}}</b></a><br/>
		{% if exp == 0 %}
		<input type="submit" id="continue3" name="save_model" value="Export system"/><br/><br/>
		{% else %}
		<br/>    
		<a id="form-text2">System file downloaded!</a><br/><br/>
		{% endif %}

		<div id="buttonsdata">
			<a>Now you can perform an analysis using the trained system.</a><br/> 
			<a>You can introduce one row of data manually or by uploading a CSV file.</a><br/> 
			<button type="button" id="getstarted" class="manually">Manually</button>
			<input type="file" name="csv_evaluate" id="file" class="inputfile2" onchange="this.form.submit()" >
			<label for="file"><i class="material-icons">file_upload</i>&nbsp;Upload</label></input>
			<br/><br/><br/>
			<img id="loading" src= "{% static 'ml/images/loading.gif' %}">
		</div>

		<div id="inddata">
			<div class="modal-content">
				<span class="closei">&times;</span>
				<a id="form-text"> Introduce your data manually</a><br/><br/><br/>
				{% for l in labels %}
				<input name="{{l}}" type="text" placeholder="{{l}}" >
				{% endfor %}
				<br/><br/>
				<input type="submit" id="continue4" value="Evaluate" />
			</div>
		</div>

		<div id="csvdata">
			<h2> Analyse data from file:</h2>
			<input type="file" name="csv_evaluate" />
			<input type="submit" value="Evaluate" name="evaluate" />
		</div>

	</div>
	
	{% if way == 2 %}
	<div  id="B" style="display: block !important;">
		<div class="modal-content2 train-form">
			<span class="closeb">&times;</span>
			<a id="form-text" style="font-size:30px !important;">Results</a><br/><br/>
			<a>Select a row and click on "Evaluate" to see more details.</a><br/><br/>
			{% if path.strip  %}
			<a id="form-text2">Results CSV file downloaded!</a><br/><br/>
			{% else %}
			<input type="submit" id="continue5" name="save_results" value="Save as CSV"/><br/><br/>
			<br/>    
			{% endif %}
			<div id="lbls">	
				<a></a>
				{% for label in labels %}
				<a>{{label}}
					{% if forloop.last %}
				</a><br/>
				{% else %}
				|
				{% endif %}
				{% endfor %}
			</div>
			<br/>	<br/>
			<div class="content2">



				<div id="data">
					
					<br/>
					{% for row in analyse_data %}
					<input name="results" type="radio" id="res{{ forloop.counter }}" value="{{ forloop.counter }}">
					<label for="res{{ forloop.counter }}">
						<a>
							{% for sample in row %}	
							{{sample}}
							{% if forloop.last %}
						</a>
					</label>
					<br/>
					{% else %}
					, 
					{% endif %}
					{% endfor %}
					{% endfor %}
				</div>
				<div class="results">
					<br/>
					{% for sample in result %}	
					<a><b>{{sample}}</b></a> <br/>
					{% endfor %}
				</div>
			</div>
			<br/><br/>

			<input type="submit" id="continue6" value="Evaluate" />
		</div>
	</div>
		{% endif %}

	{% if div == 1 %}
	<div  id="A" style="display: block !important;">
		{% else %}
		<div id="A" style="display: none !important;">
			{% endif %}
			<div class="modal-content3 train-form">
				<span class="closea">&times;</span>
				<a id="form-text">The predicted {{target}} is: {{result}}</a><br/><br/>
				<a id="dataanalysed">Data analysed: <i>{{analyse}}</i></a><br/><br/>
				<a>With these probabilities for each cathegory:</a><br/><br/>
				<div id="tabla">
					<table>
						<tr>
							{% for target in targets %}
							<th>{{target}}</th>
							{% endfor %}
						</tr>
						<tr>
							{% for pro in probaperc %}
							<td>&nbsp;&nbsp;{{pro}}%&nbsp;&nbsp;</td>
							{% endfor %}
						</tr>
					</table><br/>
				</div>
				<a style="color:#704e96;"> Here you can find which features were important to get the result.</a><br/>
				<a style="color:#704e96;">They are ordered by decreasing importance. More information is offered in the image below.</a><br/><br/>

				<a> Positive features for the result:</a><br/>
				{% for x in explanpos %}
				{% for i in x %}
				{% if forloop.first %}
				<i><a id="dataanalysed">{{i}} &nbsp;</a></i>
				{% endif %}
				{% endfor %}
				{% endfor %}
				<br/><br/>
				<a> Negative features for the result:</a><br/>
				{% for x in explanneg %}
				{% for i in x %}
				{% if forloop.first %}
				<i><a id="dataanalysed">{{i}} &nbsp;</a></i>
				{% endif %}
				{% endfor %}
				{% endfor %}
				<br/><br/>
				<iframe name="iframe1" class="iframe1" id="encoder_iframe" height="65%" width="80%" src="{% url 'ml:oi' %}">
				</iframe>
			</div>

		</div>
		

	</form>
